{% assign hide_title_pages = "/about/|/gubedcet21/|/blog/|/gallery/" | split: "|" %}
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

<div id="breadcrumbs">
  <div class="breadcrumbs-left">
    <a href="/">
      <image src="/img/home.png" height=64>
    </a>
    <a href="/about">
      <image src="/img/info.png" height=64>
    </a>
    <a href="/gubedcet21">
      <image src="/img/data.png" height=64>
    </a>
	<a href="/blog">
      <image src="/img/blog.png" height=64>
    </a>
    <a href="/gallery">
      <image src="/img/gallery.png" height=64>
    </a>
	<a href="/forum">
      <image src="/img/forum.png" height=64>
    </a>
	
  </div>
  <div class="breadcrumbs-right">
    {% for crumb in crumbs offset: 1 %}
    {% assign crumb_name = crumb | replace:'-',' ' | remove:'.html' %}
    {% if forloop.last %}
    <div class="breadcrumb hideable">
      <a href="#">
        {% assign target_path = crumb_name | prepend: '/img/' | append: '.svg' %}
        {% assign file_exists = site.static_files | where: "path", target_path | first %}
        <image src="{% if file_exists %}{{ target_path }}{% else %}/img/page.svg{% endif %}" height=64></image><span
          class="breadcrumb-text">{{ page.title }}</span>
      </a>
    </div>
    {% else %}
    {% capture crumb_url %}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit:
    crumb_limit %}{{ crumb |
    append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}{% endcapture %}

    {% if hide_title_pages contains crumb_url %}
    {% assign page_title = "" %}
    <div class="breadcrumb hideable">
      {% else %}
      <div class="breadcrumb">
        {% assign page_exists = site.pages | where: "url", crumb_url | first %}
        {% if page_exists %}
        {% assign page_title = page_exists.title %}
        {% endif %}
        {% endif %}
        <a href="{{ crumb_url }}">
          <image src="/img/{{
    crumb_name }}.svg" height=64><span class="breadcrumb-text">{{ page_title }}</span>
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>